
body {
	font-family: "Lato", sans-serif;
	background-image: url("https://static.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg");
	background-size: cover;
}

.jumbotron > button {
	margin-top: 2rem;
	border-radius: 6px;
	font-size: 3rem;
	border-style: none;
	background-color: #ead29d;
	color: #000000;
}

.jumbotron > h1 {
	text-align: center;
	color: #ffffff;
}

.jumbotron {
	background: transparent;
	height: 100%;
	text-align: center;
}
